*{
    box-sizing: border-box;
    font-size: 67.5%;
    font-family: 'Aboreto', cursive;
}
body{
    background: url('../img/BG.png');
    /* background-repeat: no-repeat; */
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
#big{
    background-color: rgba(8, 4, 4, 0.577);
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20%;
    text-align: center;
}
#line{
    border-bottom: black 1px solid;
    width: 60%;
}
img{
    width: 40%;
    border-radius: 50%;
   
}
h1{
    font-size: 2rem;
}
p{
    font-size: 1.5rem;
}
span a{
    text-decoration: none;
    color: rgb(242, 239, 239);
    font-size: 2rem;
}
span{
    margin-top: 20px;
}
.fa-brands{
    width: 15%;
    font-size: 3rem;
}
.solid{
    width: 15%;
    font-size: 3rem;
}
.main{
    margin-top: 10px;
    width: 100%;
    justify-content: space-around;
}
.main a{
    text-decoration: none;
    color: rgb(23, 21, 21);
}
@media (max-width: 952px) {
    #big{
        justify-content: space-around;
        width: 50%;
    }
}
@media (max-width: 759px) {
    #big{
        width: 60%;
    }
}
@media (max-width: 605px) {
    #big{
        width: 70%;
    }
}
@media (max-width: 496px) {
    #big{
        margin-top: 1px;
    }
}
@media (max-width: 399px) {
    #big{
        width: 80%;
    }
}
@media (max-width: 325px) {
    #big{
        width: 90%;
    }
}
@media (max-width: 256px) {
    #big{
        width: 95%;
        border-radius: 38%;
    }
}